<section class="lista middle ov-hidden">
    <ul class="right resultpagina" ng-show="imoveis">
        <li>Resultados por pagina: </li>
        *
        <li ng-class="{active: tamanhopagina == 15}"><a href="javascript:;" ng-click="tamanhopagina = 15" >15</a></li>
        <li ng-class="{active: tamanhopagina == 30}"><a href="javascript:;" ng-click="tamanhopagina = 30" >30</a></li>
        <li ng-class="{active: tamanhopagina == 45}"><a href="javascript:;" ng-click="tamanhopagina = 45">45</a></li>
    </ul>

    <table class="imoveis" ng-show="imoveis">
        <tr>
            <th class="white">
            <th><a href="javascript:;" ng-click="conjunto='bairro.cidade'; reverso = false">Cidade <img src="images/8b0ff085.sort.png" alt=""></a>
               (<a href="javascript:;" ng-click="conjunto='bairro.-cidade'; reverso = false">^</a>)
            <th><a href="javascript:;" ng-click="conjunto='bairro'; reverso = false">Bairro <img src="images/8b0ff085.sort.png" alt=""></a>
               (<a href="javascript:;" ng-click="conjunto='-bairro'; reverso = false">^</a>)
            <th><a href="javascript:;" ng-click="conjunto='quartos'; reverso = !reverso">Quartos <img src="images/8b0ff085.sort.png" alt=""></a>
            <th><a href="javascript:;" ng-click="conjunto='suites'; reverso = !reverso">Suites <img src="images/8b0ff085.sort.png" alt=""></a>
            <th><a href="javascript:;" ng-click="conjunto='vagas'; reverso = !reverso">Vagas <img src="images/8b0ff085.sort.png" alt=""></a>
            <th><a href="javascript:;" ng-click="conjunto='pretencao'; reverso = !reverso">Pretenção <img src="images/8b0ff085.sort.png" alt=""></a>
            <th><a href="javascript:;" ng-click="conjunto='valor'; reverso = !reverso">Valor <img src="images/8b0ff085.sort.png" alt=""></a>

        <tr class="listaimoveis" ng-repeat="imovel in imoveis | startFrom:paginaatual*tamanhopagina | limitTo:tamanhopagina | orderBy:conjunto:reverso | filter:filtro">
            <td class="whitetd"> <a href="#/imovel/{{ imovel.id }}"><img width="90" height="90" src="{{ baseurl }}{{ imovel.imagem }}" alt="Placehold"></a>
            <td> {{ imovel.bairro.cidade.nome }}<td> {{ imovel.bairro.nome }}<td> {{ imovel.quartos }}      <td> {{ imovel.suites }}      <td>
            {{ imovel.vagas }}     <td> {{ imovel.pretencao }}<td> {{ imovel.valor }}

    </table>

    <h1 class="nenhum" ng-hide="imoveis">Nenhum imovel encontrado =(</h1>

    <ul class="paginacao" ng-show="imoveis.length > tamanhopagina">
        <li><button ng-disabled="paginaatual == 0" ng-click="paginaatual = paginaatual - 1"><</button></li>
        <li ng-repeat="pagina in paginas"><button ng-click="trocapagina(pagina)" ng-class="{active: paginaatual == pagina - 1}">{{pagina}}</button></li>
        <li><button ng-disabled="paginaatual >= imoveis.length/tamanhopagina - 1" ng-click="paginaatual = paginaatual + 1">></button></li>
    </ul>
</section>

